DATABASE_URL="YOUR DB URL HERE"

# This can be generated with openssl rand -base64 32
NEXTAUTH_SECRET="YOUR SECRET HERE"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
BASE_URL="http://localhost:3000"

NEXTAUTH_URL="http://localhost:3000"

GOOGLE_GENAI_API_KEY="YOUR KEY HERE"
JUDGE0_API_KEY="YOUR KEY HERE"